---
import Home from '@/layouts/Home.astro';
import MyCard from '@/components/MyCard.vue';
import MyDoc from '@/components/MyDoc.vue';
import DocList from '@/components/DocList.vue';
import SearchPopup from '@/components/SearchPopup.vue';
import { type DocItem, generate } from '@/utils/generateDocTree';

const blogs = await Astro.glob<DocItem>('../pages/blog/**/*.{md,mdx}');
const { tree, total, list } = generate(blogs);
const display = list.slice(0, 10);
---

<Home>
	<div class="content">
		<DocList client:load list={display} />
	</div>

	<div class="absolute right-18 top-10 h-full">
		<div class="card my-card">
			<MyCard client:load />
		</div>
		<div class="card my-doc">
			<MyDoc client:load total={total} tree={tree} />
		</div>
	</div>
	<SearchPopup client:only="vue" total={total} tree={tree} />

	<script>
		document.body.addEventListener('young:trigger-search', () => {
			const el = document.querySelector('#search-popup');
			el && el.classList.remove('hidden');
		});

		document.body.addEventListener('young:hide-search', () => {
			const el = document.querySelector('#search-popup');
			el && el.classList.add('hidden');
		});
	</script>
</Home>

<style lang="scss">
.content {
	@apply w-full 2xl:w-[62.5%] mx-auto mt-10;
}
.card {
	@apply lt-2xl-hidden 2xl:right-0 sticky;
}
.my-card {
	@apply top-10;
}
.my-doc {
	@apply top-90 mt-10;
}
</style>
