---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@unocss/reset/tailwind.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image = '/placeholder-social.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/astro.svg" />
<link rel="stylesheet" href="/prism-vsc-dark-plus.css">
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<style is:global>
/* 全局美化滚动条样式9 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, .2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
  border-radius: 2em;
}

.dark ::-webkit-scrollbar-track {
  background-color: gray;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(73, 177, 245, .4);
  background-image: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent
}

html.dark {
  background: #121212;
}
</style>